*{margin:0;
padding:0;
}

body {
  background: url("./White Christmas-2.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.ue{
  margin: 2rem;
}

.Container {
  margin-top: 300px;
}

.generatebtn {
  margin: 5rem;
}

#place {
  margin-left: 1rem;
  height: 30px;
  width: 100px;
  border: 3px solid red;

}

label {
  font-family:Arial, Helvetica, sans-serif;
}

button {
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 20px 70px;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
}

h3 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 25px;
}
