.Modal * {
  font-family: -webkit-pictograph;
}

.Modal {
  background-color: #eae7dc;
  border-radius: 2px;
  margin: 48px 0 80px;
  width: 1200px;
  height: fit-content;
  outline: none;
  padding: 20px;
}

.Overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalcontainer {
  background-color: #fff;
  padding: 20px;
}

.headcontainermodal {
  display: flex;
  justify-content: space-between;
}

.modaltitle {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.close-btn-ctn {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 20px;
  color: #031d2c;
  border: none;
  border-radius: 25px;
  background-color: #eae7dc;
  height: 30px;
  width: 30px;
}

.close-btn:hover {
  background-color: #8e8d89;
}

.form-col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.form-col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.form-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .form-col-25,
  form-.col-75 {
    width: 100%;
    margin-top: 0;
  }
}
